@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
li {
  margin : 2em 0 2em 0;
}

body {
  color : #333333;
  font-family : "Roboto", sans-serif;

  max-width : 80%;
  margin : 0 auto;
  margin-top : 3em;

  border-radius : 8px;
  background-color : #ffffff;
  box-shadow : 1px 1px 8px rgba(0, 0, 0, 0.5);
}

html {
  background-color : #eeeeee;
}

h1 {
  font-family : "Montserrat", sans-serif;

  padding-left : 0.8em;

  pointer-events : none;
  
  &:before {
    color : rgb(151, 170, 66);
    font-family : FontAwesome;
    font-family : FontAwesome;
    font-size : 14px;
    transition:all .5s;
    position : relative;
    top : -5px;
    left : -9px;

    content : "\f196";
    cursor : pointer;
    pointer-events : all;
  }
  &:hover:before{
    font-size:18px;
    color:rgb(1, 194, 1);
  }
}   

h2 {
  font-family : "Montserrat", sans-serif;
}
h3 {
  font-family : "Montserrat", sans-serif;
}
h4 {
  font-family : "Montserrat", sans-serif;
}
h5 {
  font-family : "Montserrat", sans-serif;
}
